* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #38385b;
    color: #dcdcef;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #38385b;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.navbar h2 {
    display: flex;
}

.navbar span {
    flex-grow: 1;
}

.bg-hl-1 {
    color: #dcdcef;
    background-color: #63638a;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.bg-hl-2 {
    background-color: #38385b;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.bg-hl-1 .bg-hl-2 {
    box-shadow: none;
}

code {
    display: inline-block;
}

.text-center {
    text-align: center;
}

hr {
    opacity: .2;
}

a {
    color: #63638a;
    transition: ease .2s;
}

a:hover {
    color: #dcdcef;
}

#grid {
    display: none;
}

@media (min-width: 640px) {
    #grid {
        display: block;
    }
}