.rounded {
    border-radius: .25rem !important
}

.rounded-top-right {
    border-top-right-radius: .25rem !important
}

.rounded-top-left {
    border-top-left-radius: .25rem !important;
}

.rounded-bottom-right {
    border-bottom-right-radius: .25rem !important;
}

.rounded-bottom-left {
    border-bottom-left-radius: .25rem !important
}